*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  background-color: #eee;
  transition: color 3s, background-color 3s;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container,
form {
  width: 80%;
  margin: 30px auto;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

input:focus,
select:focus {
  outline: none !important;
  border-bottom: 3px solid #ffb61e;
}

.error {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  color: #ff0000;
}

.logo {
  color: #171a88;
}

a {
  text-decoration: none;
  color: #ffb61e;
  font-size: 20px;
}

@media (hover: hover) {
  a:hover {
    background-color: #ffb81e45;
    transition: 0.4s ease;
    border-radius: 20px;
  }
}

nav {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
  font-weight: bold;
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

.centered-text {
  text-align: center;
}

label {
  color: #aaa;
  display: inline-block;
  margin: 20px 0 10px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
input,
select {
  display: block;
  padding: 10px 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
  background-color: #fff;
}

.bold {
  font-weight: bolder;
  color: #ffb61e;
}
button {
  background: #171a88;
  border: 0;
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 5px;
}
@media (hover: hover) {
  button:hover {
    background-color: #5153a6;
    transition: 0.4s ease;
    cursor: pointer;
  }
}

.mt {
  margin-top: 30px;
}

.todo-button {
  background: transparent;
  cursor: pointer;
}

.todo-button img {
  padding: 0 5px;
  height: 25px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #ffb61e;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 3px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

table {
  border-collapse: collapse;
}

#trheader th {
  font-weight: bold;
}

th,
td {
  height: 60px;
  padding: 0px 5px;
  border-bottom: 1px solid #ddd;
}

.client-quali {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-quali span {
  padding-right: 5px;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.modal {
  width: 70vw;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  table thead {
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
  }

  table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
  }

  .todo-button {
    justify-content: center;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  tbody tr td:last-child {
    border-bottom: 15px solid #eee;
  }

  .modal {
    width: 90vw;
  }

  form {
    margin: 5px auto;
  }
}
